* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.calculator {
  width: 250px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.display {
  color: #fff;
  background: #fa7d09;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-align: right;
  margin-bottom: 20px;
  min-height: 40px;
  height: 50px;
}

.button {
  width: 40px;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 5px;
  padding: 15px 0;
  font-size: 1.5rem;
  box-shadow: inset 0px -4px rgba(0,0,0,0.2); /* Donne un effet enfoncé */
  transition: box-shadow 0.2s, transform 0.2s;
}

.button:active {
  box-shadow: inset 0px 4px rgba(0,0,0,0.2); /* Inverse l'effet pour simuler le bouton pressé */
  transform: translateY(4px);
}

.button.operator, .button.function {
  background: #fa7d09;
  color: white;
}

.button.operator:active, .button.function:active {
  background: #e07c00;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes de même taille */
  grid-gap: 5px;
}

